/*!
 * Daniel Grossstueck portfolio
 * Date: 03.05.2016
 * Version: 2.00
 */
/**
 * 1. Variables
 *
 */
$font-headlines: 'Raleway', sans-serif;
$font-text: 'Raleway', sans-serif;
$primary-color-section1: #058A85;
$secondary-color-section1: #57d8eb;
$bg-fallback-section1: #27a6bc;
$primary-color-section2: #d35900;
$secondary-color-section2: #ff8315;
$bg-fallback-section2: #e36908;
$primary-color-section3: #019678;
$secondary-color-section3: #57ebe2;
$bg-fallback-section3: #29beaa;
$color-footer: #f2f2f2;
$black: #000;
$body-font-color: #fff;
$font-color-section1: #fff;
/**
  * 2. Reset Bootstrap presets
  *
  * For media queries see 7
  */
html {
  font-size: 16px;
}
body {
  background: #000;
  color: $body-font-color;
  font-family: $font-text;
  font-size: 100%;
  font-weight: 300;
}
a {
  font-weight: 400;
  text-decoration: none;
}
.row {
  margin: 0;
}
.container-fluid {
  padding: 0;
}
.navbar-default {
  background: transparent;
  border-color: transparent;
}
.navbar-default .navbar-nav > li > a {
  color: #fff;
  font: 200 1.25rem/1 $font-text;
}
.navbar-default .navbar-nav > li > a:hover {
  color: $primary-color-section1;
  font-weight: 400;
}
.navbar-default .navbar-brand {
  font: 400 1.25rem/1 'Ubuntu', sans-serif;
  color: #fff;
}
.navbar-default .navbar-brand:hover {
  color: #fff;
}
/**
 * 3. Home-Section
 *
 * For media queries see 7
 */
.home-section {
  background: url("../img/bg_schwarz_hd.jpg");
  background-position: center;
  background-size: cover;
}
.portfolio-section {
  background: $bg-fallback-section2;
  background: linear-gradient(130deg, $primary-color-section2 0, $secondary-color-section2 100%) no-repeat fixed;
}
.contact-section {
  background: $bg-fallback-section3;
  background: linear-gradient(130deg, $primary-color-section3 0, $secondary-color-section3 100%) no-repeat fixed;
}
.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 1.5s infinite;
  -moz-animation: blink 1.5s infinite;
  animation: blink 1.5s infinite;
}
.home-rotate {
  color: $font-color-section1;
  font-size: 3.5rem;
  font-family: $font-headlines;
  font-weight: 200;
  line-height: 1;
  letter-spacing: -.03em;
  padding: 60px 150px 0;
}
.home-section #about-me-text {
  color: $font-color-section1;
  font-size: 1.875rem;
  font-family: $font-text;
  line-height: 1.5;
  padding: 10% 150px 0;
  width: 60%;
}
#ilike {
  color: $font-color-section1;
  font-size: 1.875rem;
  font-family: $font-text;
  line-height: 1.5;
  padding: 0 0 0 150px;
}
.cd-words-wrapper {
  color: $primary-color-section1;
  font-size: 1.875rem;
  font-family: $font-text;
  line-height: 1.5;
  padding-left: 0.3em;
}
.scroll-button {
  background: 0 0;
  border: none;
  bottom: 45px;
  color: #fff;
  cursor: default;
  left: 50%;
  padding: 0;
  position: absolute;
  -webkit-appearance: button;
}
.scroll-button .mouse {
  border: 2px solid #fff;
  border-radius: 10px;
  height: 40px;
  -webkit-transform: none;
  transform: none;
  width: 24px;
}
.scroll-button > div {
  transition: all 0.4s;
}
.scroll-button .wheel {
  background: $body-font-color;
  display: block;
  height: 15px;
  margin: 7px auto;
  position: relative;
  width: 2px;
  -webkit-animation: mouse-wheel 1.2s ease infinite;
  -moz-animation: mouse-wheel 1.2s ease infinite;
  animation: mouse-wheel 1.2s ease infinite;
}
.scroll-button span {
  border-right: 2px solid $body-font-color;
  border-bottom: 2px solid;
  display: block;
  height: 15px;
  margin: 0 0 3px 5px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg)!important;
  width: 14px;
}
.doi,
.trei,
.unu {
  -webkit-animation: mouse-scroll 1s infinite;
  -moz-animation: mouse-scroll 1s infinite;
  animation: mouse-scroll 1s infinite;
}
.unu {
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  animation-delay: 0.1s;
  -webkit-animation-direction: alternate;
}
.doi {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  animation-delay: 0.2s;
  -webkit-animation-direction: alternate;
}
.trei {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  animation-delay: 0.3s;
  -webkit-animation-direction: alternate;
}
/* --------------------------------
 I like section
  -------------------------------- */
.cd-words-wrapper {
  display: inline-block;
  position: relative;
  text-align: left;
}
.cd-words-wrapper b {
  display: inline-block;
  left: 0;
  position: absolute;
  top: 0;
  white-space: nowrap;
}
.cd-words-wrapper b.is-visible {
  position: relative;
}
.no-js .cd-words-wrapper b {
  opacity: 0;
}
.no-js .cd-words-wrapper b.is-visible {
  opacity: 1;
}
.cd-headline.rotate-1 .cd-words-wrapper {
  -webkit-perspective: 300px;
  -moz-perspective: 300px;
  perspective: 300px;
}
.cd-headline.rotate-1 b {
  opacity: 0;
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  transform: rotateX(180deg);
}
.cd-headline.rotate-1 b.is-visible {
  opacity: 1;
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-animation: cd-rotate-1-in 1.2s;
  -moz-animation: cd-rotate-1-in 1.2s;
  animation: cd-rotate-1-in 1.2s;
}
.cd-headline.rotate-1 b.is-hidden {
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  transform: rotateX(180deg);
  -webkit-animation: cd-rotate-1-out 1.2s;
  -moz-animation: cd-rotate-1-out 1.2s;
  animation: cd-rotate-1-out 1.2s;
}
/**
 * 4. Portfolio-Section
 *
 * For media queries see 7
 */
.slide-image-row {
  align-items: center;
  display: flex!important;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100vh!important;
  justify-content: center;
}
.slide-image-row img {
  display: block;
  height: auto;
  margin: 0 auto;
  max-width: 700px;
  padding: 0 20px;
  width: 100%;
}
.slide-text-hl {
  font-weight: 600;
  font-size: 2.5rem;
}
.slide-text a {
  color: #fff !important;
  font-weight: 600;
}
.slide-text p {
  font-size: 1.6rem;
  padding-right: 70px;
  width: 600px;
}

.code-tag {
  background-color: $primary-color-section1;
  border-radius: 5px;
  float: left;
  font-weight: 400;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 5px;
  width: auto;
}
/**
 * 5 Contact-Section
 *
 * For media queries see 7
 */
.contact-text h2 {
  font-weight: 600;
  font-size: 2.5rem;
}
.contact-buttons,
.contact-text {
  font-size: 1.875rem;
  font-family: $font-text;
  line-height: 1.5;
  padding-left: 30px;
  padding-right: 30px;
}
.contact-text {
  height: 40vh;
  padding-top: 3em;
}
.contact-buttons {
  display: flex;
  flex-wrap: wrap;
  height: 40vh;
  justify-content: center;
}
.contact-button-icon {
  align-items: center;
  background: $body-font-color;
  border-radius: 50%;
  color: $bg-fallback-section2;
  display: flex;
  float: left;
  height: 8em;
  justify-content: center;
  margin: 20px;
  position: relative;
  transition-duration: 0.3s;
  transition-property: transform;
  width: 8em;
}
.contact-button-icon:before {
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  content: '';
  height: 10px;
  left: 5%;
  opacity: 0;
  position: absolute;
  transition-duration: 0.3s;
  transition-property: transform, opacity;
  top: 100%;
  width: 90%;
  z-index: -1;
}
.contact-button-icon:hover:before {
  opacity: 1;
  transform: translateY(5px);
}
.contact-button-icon:hover {
  transform: translateY(-5px);
}
.fa {
  font-size: 5rem!important;
}
/**
 * 6. Keyframes
 */
/*typing headline*/
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*keyframes mouse-wheel*/
@-webkit-keyframes mouse-wheel {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@-moz-keyframes mouse-wheel {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@keyframes mouse-wheel {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}
/*keyframes mouse-scroll*/
@-webkit-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
/*keyframes i like section*/
@-webkit-keyframes cd-rotate-1-in {
  0% {
    -webkit-transform: rotateX(180deg);
    opacity: 0;
  }
  35% {
    -webkit-transform: rotateX(120deg);
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(360deg);
    opacity: 1;
  }
}
@-moz-keyframes cd-rotate-1-in {
  0% {
    -moz-transform: rotateX(180deg);
    opacity: 0;
  }
  35% {
    -moz-transform: rotateX(120deg);
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  100% {
    -moz-transform: rotateX(360deg);
    opacity: 1;
  }
}
@keyframes cd-rotate-1-in {
  0% {
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
    transform: rotateX(180deg);
    opacity: 0;
  }
  35% {
    -webkit-transform: rotateX(120deg);
    -moz-transform: rotateX(120deg);
    -ms-transform: rotateX(120deg);
    -o-transform: rotateX(120deg);
    transform: rotateX(120deg);
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(360deg);
    -moz-transform: rotateX(360deg);
    -ms-transform: rotateX(360deg);
    -o-transform: rotateX(360deg);
    transform: rotateX(360deg);
    opacity: 1;
  }
}
@-webkit-keyframes cd-rotate-1-out {
  0% {
    -webkit-transform: rotateX(0deg);
    opacity: 1;
  }
  35% {
    -webkit-transform: rotateX(-40deg);
    opacity: 1;
  }
  65% {
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(180deg);
    opacity: 0;
  }
}
@-moz-keyframes cd-rotate-1-out {
  0% {
    -moz-transform: rotateX(0deg);
    opacity: 1;
  }
  35% {
    -moz-transform: rotateX(-40deg);
    opacity: 1;
  }
  65% {
    opacity: 0;
  }
  100% {
    -moz-transform: rotateX(180deg);
    opacity: 0;
  }
}
@keyframes cd-rotate-1-out {
  0% {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg);
    opacity: 1;
  }
  35% {
    -webkit-transform: rotateX(-40deg);
    -moz-transform: rotateX(-40deg);
    -ms-transform: rotateX(-40deg);
    -o-transform: rotateX(-40deg);
    transform: rotateX(-40deg);
    opacity: 1;
  }
  65% {
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
    transform: rotateX(180deg);
    opacity: 0;
  }
}
/**
 * 7. Media queries
 */
@media only screen and (min-width: 320px) and (max-width: 1199px) {
  .home-section {
    background: url("../img/bg_schwarz_1280x800.jpg");
    background-position: center;
    background-size: cover;
  }
  .slide-image-row-col {
    width: 100%;
  }
  .fp-controlArrow.fp-next {
    border-width: 30px 0 30px 28px!important;
  }
  .fp-controlArrow.fp-prev {
    border-width: 30px 28px 30px 0!important;
  }
  .slide-text-hl {
    text-align: center;
  }
  .slide-text p {
    margin: 0 auto;
    padding: 10px 40px;
  }
  .code-tag {
    margin: 0 5px 5px 0;
  }
  .slide-image-row {
    display: block!important;
    padding-top: 60px;
  }
  .slide-image {
    padding-top: 0;
    padding-bottom: 10px;
  }
  .code-tag-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 40px;
  }
  .contact-button-icon {
    height: 4em;
    width: 4em;
  }
  .fa {
    font-size: 4rem !important;
  }
  .home-rotate,
  .home-section #about-me-text {
    padding-left: 30px;
    padding-right: 30px;
  }
  #ilike {
    padding-left: 30px;
  }
}
/*smartphone only changes*/
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .home-section #about-me-text {
    width: 100%;
  }
}
/*fix font-size slide-text on different mobile devices*/
@media only screen and (max-width: 320px) {
  .slide-text p {
    width: 280px;
  }
}
@media only screen and (min-width: 321px) and (max-width: 360px) {
  .slide-text p {
    width: 320px;
  }
}
@media only screen and (min-width: 361px) and (max-width: 420px) {
  .slide-text p {
    width: 360px;
  }
}
@media only screen and (min-width: 421px) and (max-width: 767px) {
  .slide-text p {
    width: 420px;
  }
}
@media only screen and (min-width: 1200px) {
  .slide-image-row-col {
    height: 40%;
  }
}
/*change mobil nav*/
@media only screen and (max-width: 767px) {
  .navbar-default {
    background: $black;
    border-color: $black;
  }
  .navbar-default .navbar-toggle:focus,
  .navbar-default .navbar-toggle:hover {
    background-color: $black;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: $body-font-color;
  }
  .navbar-default .navbar-toggle .icon-bar:hover {
    background-color: $body-font-color;
  }
  .navbar-brand {
    font: 400 2.25rem/1 'Ubuntu', sans-serif!important;
  }
}
@media only screen and (min-width: 1200px) and (max-height: 800px) {
  .home-section #about-me-text {
    width: 70%;
  }
}
@media only screen and (max-width:360px) and (max-height: 640px) {
  .home-section {
    background: url("../img/bg_schwarz_360x640.jpg");
    background-position: center;
    background-size: cover;
  }
}
@media only screen and (max-width:375px) and (max-height: 667px) {
  .home-section {
    background: url("../img/bg_schwarz_375x667.jpg");
    background-position: center;
    background-size: cover;
  }
}
@media only screen and (min-width:376px)and (max-width:768px) {
  .home-section {
    background: url("../img/bg_schwarz_768x1024.jpg");
    background-position: right;
    background-size: cover;
  }
}
@media only screen and (min-width:320px) and (max-width: 767px) {
  html {
    font-size: 10px;
  }
  .fp-controlArrow.fp-next {
    border-width: 22px 0 22px 18px!important;
  }
  .fp-controlArrow.fp-prev {
    border-width: 22px 18px 22px 0 !important;
  }
  .slide-text p {
    padding: 10px 25px;
  }
}
/*target small mobile devices*/
@media only screen and (max-height:568px) {
  .slide-text p {
    padding: 5px 25px;
  }
  .slide-image-row img {
    width: 80%;
  }
  .scroll-button {
    bottom: 20px;
  }
  .scroll-button .wheel {
    height: 10px;
    margin: 5px auto;
  }
  .scroll-button .mouse {
    height: 30px;
    width: 18px;
  }
  .scroll-button span {
    height: 10px;
    margin: 0 0 1px 5px;
    width: 9px;
  }
}
@media only screen and (max-width: 560px) {
  .home-rotate {
    font-family: $font-headlines;
    font-size: 2.8em;
    font-weight: 200;
  }
}
/*Landscape notification*/
@media only screen and (min-width : 568px) and (max-width : 1023px) and (orientation : landscape) {
  .container-fluid,
  .navbar-toggle {
    display: none !important;
  }
  .landscape-notice {
    background: #000;
    display: block !important;
    font-size: 3rem;
    height: 100vh;
    padding: 50px;
    text-align: center;
  }
  .tablet-landscape,
  .tablet-potrait {
    font-size: 6rem !important;
  }
  .landscape-icons {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 90%;
    margin: 0 auto;
    width: 50%;
  }
  .tablet-arrow {
    padding-right: 30px;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
  .tablet-landscape {
    margin-left: 30px;
    margin-top: 20px;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
